{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | About us
{% endblock %}

{% block body %}
    <div class="team">
        {% for author in authors %}
            <div class="team-author">
                <img src="{{ author.picture }}" alt="Photo de {{ author.firstname }} {{ author.lastname }}" width="250">
                <h3>{{ author.firstname }} {{ author.lastname }}</h3>
                <p>{{ author.dateOfBirth | date('d/m/y') }}</p>
                <p>Creator of {{ author.creatorOf }}</p>
                <p>{{ author.description }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}

