{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} | Detail
{% endblock %}

{% block body %}
    <h3>{{ wish.title }}</h3>
    <p>Created by {{ wish.author }} on {{ wish.createdAt | date('d/m/y') }}</p>
    <p>Category : {{ wish.category.name }}</p>
    <p>{{ wish.description }}</p>
{% endblock %}

