<header>
    <div class="title">
        <img src="{{ asset('img/logo.png') }}" alt="Logo">
        <h1>Bucket-list</h1>
    </div>
    <nav>
        <ul>
            <li><a href="{{ path('main_home') }}">Home</a></li>
            <li><a href="{{ path('wish_list') }}">All wishes</a></li>
            {% if app.user %}
                <li><a href="{{ path('wish_add') }}">Add yours!</a>
            {% endif %}
            <li><a href="{{ path('main_about_us') }}">About us</a></li>
            {% if app.user %}
                <li><a href="{{ path('app_logout') }}">Logout</a></li>
            {% else %}
                <li><a href="{{ path('app_login') }}">Login</a></li>
            {% endif %}

        </ul>
    </nav>
</header>